# This repository ignores every directory by default to exclude private/custom configurations and git submodules
/*

# All root level files (and dotfiles) will be INCLUDED and tracked by default
!/*.*
!/.*

# The following folders will be INCLUDED and therefore tracked by git
!/.git/
!/aerospace/
!/nvim/
!/opencode/
!/sketchybar/
!/tmux/
!/tmuxinator/
!/yazi/
!/zsh/

# The following subfolders will be EXCLUDED even though there root folder is tracked
/tmux/plugins
